html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus,
.form-button,
.form-group {
  font-family: 'Fira Code', monospace;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000000;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.container {
  background-color: #292929;
  font-family: 'Fira Code', monospace;
  color: #dcdcdc;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}